@import '../../styles/colors';

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 55px);

  &__loadmore {
    background: $blue;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    padding: 20px;
    font-weight: 500;
    cursor: pointer;
  }
}
