.header {
  padding-top: 5px;
  background: #1874a0;
  position: relative;

  .logo {
    text-align: center;
    font-size: 30px;
    font-family: 'Ranga', cursive;
    color: #ffffff;
    border-bottom: 6px solid #3f5f63;
    display: block;
  }

  .open_nav {
    left: 0;

    .fa-bars {
      position: absolute;
    }
  }

  .navItem {
    font-weight: 300;
    font-size: 12px;
    color:#bababa;
    padding:10px;
    border-top: 1px solid #404040;

    a {
      color:inherit;
      text-decoration: none;
    }

    span {
      color:white;
      margin-right:10px;
    }
  }
}
