@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import 'colors';

* {
  text-rendering: geometricPrecision;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: $black;
  padding: 0;
  margin: 0;
}

input, textarea {
  color: $black;
  font-family: inherit;

  &::placeholder {
    color: $grey;
  }
}

button {
  cursor: pointer;
}

input, textarea, button {
  &:focus {
    outline: 0;
  }
}

a {
  text-decoration: none;
  color:black;
}
a:active,
a:visited,
a:focus {
  color:black
}

.red_tag {
  background: #F44336;
  color: #fff;
  padding: 10px;
}

::-webkit-input-placeholder {
  color: #d8d8d8;
}
::-moz-placeholder {
  color: #d8d8d8;
}
:-ms-input-placeholder {
  color: #d8d8d8;
}
:-moz-placeholder {
  color: #d8d8d8;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
