.loader {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width:100px;
  height: 100px;
  background-color: skyblue;
  border-radius: 50%;
  box-shadow: inset 0 0 30px 0 rgba(0,0,0,.5), 0 4px 10px 0 rgba(0,0,0,.5);
  overflow: hidden;
  padding-top: 39px;

  &:before,
  &:after {
    content:'';
    position: absolute;
    width:100px;
    height: 100px;
    background-color: #fff;
  }
  &:after {
    border-radius: 45%;
    background:rgba(255,255,255,.7);
    animation:wave 5s linear infinite;
    top: 72px;
    left: 6px;
  }
  &:before {
    border-radius: 35%;
    background:rgba(255,255,255,.3);
    animation:wave 5s linear infinite;
    left: 5px;
  }
}

@keyframes wave {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}
